/* Banner.css */
.banner-container {
    position: relative;
    width: 100%;
    max-width: 1540px;
    margin: auto;
    overflow: hidden;
    min-height: 1100px;
}

.banner-wrapper {
    position: relative;
    width: 100%;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

.fade-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

.arrow {
    position: absolute;
    top: 5%; /* 1/4th from the top */
    background: none;
    border: none;
    color: white;
    font-size: 50px; /* Arrow size */
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

.arrow:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* Overlay ProductGrid at 60% of the banner height */
.product-grid-overlay {
    position: absolute;
    top: 225px; /* Start from 60% of banner height */
    left: 0;
    width: 100%;
    z-index: 10; /* Ensure it's above the banner */
}