.banner-container {
    position: relative;
    width: 100%;
    max-width: 1540px;
    margin: auto;
    overflow: hidden;
    min-height: 700px;
}

.banner-wrapper {
    position: relative;
    width: 100%;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

.fade-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    transition: background 0.3s ease-in-out;
}

/* When Dark Mode is Active */
body.dark .fade-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.arrow {
    position: absolute;
    top: 7.5%;
    background: none;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

.arrow:hover {
    color: rgba(255, 255, 255, 0.8);
}

.product-grid-overlay {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 10;
}

@media (max-width: 1024px) {
    .product-grid-overlay {
        top: 15%;
    }

    .arrow {
        top: 5%;
    }
}

@media (max-width: 877px) {
    .product-grid-overlay {
        top: 15%;
    }

    .banner-image {
        width: 125%;
        margin-left: -75px;
        height: auto;
        display: block;
        object-fit: cover;
    }

    .banner-container {
        min-height: 600px;
    }

    .arrow {
        display: none;
    }
}

@media (max-width: 468px) {
    .product-grid-overlay {
        top: 10%;
    }

    .banner-image {
        width: 175%;
        margin-left: -150px;
        height: auto;
        display: block;
        object-fit: cover;
    }
}