.product-grid {
    margin-top: 150px;
    margin-left: 35px;
    margin-right: 35px;
}

.main-grid-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}

.main-grid {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 320px;
    text-align: center;
}

.main-grid-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-grid-image {
    width: 100%;
    max-height: auto;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.main-grid-image:hover {
    transform: scale(1.05);
}

.product-grid .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 25px;
}

.see-more-link {
    display: block;
    font-size: 14px;
    color: #007185;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.see-more-link:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .main-grid-row .main-grid:nth-child(4) {
        display: none;
    }

    .main-grid {
        min-width: 280px;
        max-width: 300px;
    }
}

@media (max-width: 877px) {
    .main-grid-row .main-grid:nth-child(3),
    .main-grid-row .main-grid:nth-child(4) {
        display: none;
    }

    .main-grid{
        min-width: 250px;
        max-width: 270px;
        height: 320px;
    }
    
    .see-more-link{        
    margin-top: 0px;
    }
}

@media (max-width: 468px) {
    .main-grid-row {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .main-grid-row .main-grid:nth-child(n+2) {
        display: none;
    }

    .main-grid {
        width: 90%;
        min-width: 250px;
        max-width: 300px;
        height: auto;
    }
}

